/*GENERAL*/
* {
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*PURPLE*/
.purple {
    background-color: #87509c;
}

.menu ul li {
    list-style: none;
    float: left;
    text-transform: uppercase;
}

.menu li + li {
    margin-left: 38px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
}

.menu {
    float: left;
    padding-top: 57px;
    width: 60%;
}

.linkActive{
    padding: 12px 16px;
    background-color: #643a79;
    border-radius: 5px;
}

.logo {
    margin-left: 40px;
    
}

.divLogo {
    float: left;
    width: 40%;
    padding-top: 57px;
}

.texto1 {
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 143px;
}

.texto1 p {
    font-size: 42.16px;
    font-weight: bold;
    margin: 0;
}

.boton {
    text-transform: uppercase;
    font-size: 18px;
    background-color: #eb7d4b;
    padding: 26px 85px;
    border: 0;
    margin: 0 auto;
}

.btn {
    text-align: center;
    padding-bottom: 145px;
    padding-top: 54px;
}
/*END PURPLE*/

/*AQUA*/
.aqua {
    background-color: #17c2a4;
    padding-bottom: 126px;
}

.titulo1 p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    padding-top: 119px;
}

.titulo1 {
    margin: 0 auto;
}

.texto2 {
    width: 42%;
    margin: 0 auto;
}

.texto2 p {
    text-align: center;
    margin-bottom: 0;
    margin-top: 44px;
}

.colums ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

.colums ul li img {
    width: 100%;
}
.colums ul li {
    width: 20%;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}
.colums {
    padding-top: 76px;
}

.colums ul li h3 {
    margin-top: 54px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}


.a p {
    margin: 0 41px;
    width: 80%;
    margin-right: 0;
}

.b p {
    margin: 0 45px;
}

.c p {
    margin: 0 45px;
}

.d p {
    margin: 0 46px;
}
/*END AQUA*/

/*AZUL*/
.azul {
    background-color: #3c5499;
}

.titulo2 {
    margin: 0 auto;
}

.titulo2 h1 {
    margin: 0;
    text-transform: uppercase;
    padding-top: 107px;
    text-align: center;
}

.texto3 p {
    text-align: center;
    margin-top: 46px;
}

form {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

label {
    font-size: 12px;
    width: 100%;
    display: block;
}

input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    background-color: #273a71;
    border-radius: 4px;
}

textarea {
    height: 200px;
}

input:focus, textarea:focus {
    border: 1px solid white;
}

.send {
    width: 20%;
    height: 75px;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #30bae7;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
}

.formulario {
    padding-bottom: 85px;
}

.enviar {
    text-align: center;
}
/*END AZUL*/

/*FOOTER*/
.footer {
    background-color: #344b8e;
}

.links {
    margin: 0;
    list-style: none;
}


.links li a {
    text-decoration: none;
    font-size: 24px;
}

.links {
    padding: 0px;
    margin: 0px;
}

.links li {
    display: inline;
    text-align: center;
}

.links li + li{
    margin-left: 65px;
}

.redes {
    margin: 0 auto;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 32px;
}


/*******************************************/
@import 'laptop';
@import 'tablet';
@import 'movil';